.zikrtextarabic{
    line-height: 2em;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}
.zikrtextdhivehi{
    line-height: 2em;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}
.counter{
    background-color: rgb(228, 225, 214);
}
.zikrcountertext{
    background-color: rgb(75, 74, 71);
    line-height: 2em;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}
.zikrcounterheader{
    line-height: 2em;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}

